
.AvatarStatic {
  background-color:#5c2c98;
  border-radius:50%;
  width:60px;
  height:60px;
  display:flex;
  align-items:center;
  margin-right:20px;
  justify-content: center;
}

.AvatarStatic img {
  width:30px;
  height:30px;
}
